<html>
    <head>
        <meta charset="utf-8">
        <title>Alert Config</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="<%- publicUrl %>/public/config-alert-page/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Alert Config:</h5>
                            <p class="card-text">Alert ID: <%- result.id %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="boardId">Board Id</label>
                            <input type="number" class="form-control" id="boardId" onblur="updateConfigTable('boardId')">
                        </div>
                        <div class="form-group">
                            <label for="dailyPeopleSize">Daily People Size</label>
                            <input type="number" class="form-control" id="dailyPeopleSize"
                                   onblur="updateConfigTable('dailyPeopleSize')">
                        </div>
                        <div class="form-group">
                            <label for="numberOfRandom">Number Of Random</label>
                            <input type="number" class="form-control" id="numberOfRandom"
                                   onblur="updateConfigTable('numberOfRandom')">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group" style="padding-right: 0.25rem">
                                    <label for="lat">Lat</label>
                                    <input type="number" class="form-control" id="lat"
                                           onblur="updateConfigTable('lat')">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group" style="padding-left: 0.25rem">
                                    <label for="long">Long</label>
                                    <input type="number" class="form-control" id="long"
                                           onblur="updateConfigTable('long')">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="region">Region</label>
                            <select class="form-select" id="region" onchange="updateConfigTable('region')">
                                <option selected>-- Region --</option>
                                <option value="Hong Kong and Kowloon">Hong Kong and Kowloon</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="district">District</label>
                            <select class="form-select" id="district" onchange="updateConfigTable('district')">
                                <option selected>-- District --</option>
                                <option value="Wan Chai">Wan Chai</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="notifyTime">Notify Time</label>
                            <input type="time" class="form-control" id="notifyTime" onblur="updateConfigTable('notifyTime')">
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group" style="padding-right: 0.25rem">
                                    <label for="scheduleTime">Schedule Time</label>
                                    <input type="time" class="form-control" id="scheduleTime"
                                           onblur="updateConfigTable('scheduleTime')">
                                </div>
                            </div>
                            <div class="col-3" style="margin-top: 1.5rem;">
                                <button class="btn btn-secondary" style="width: 100%;" onclick="triggerNow()" type="button">Trigger</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="scheduleEnableWeekdayOnly"
                                       onclick="updateConfigTable('scheduleEnableWeekdayOnly')">
                                <label class="form-check-label" for="scheduleEnableWeekdayOnly">
                                    Enable Weekday Only
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="scheduleEnableNotHoliday"
                                       onclick="updateConfigTable('scheduleEnableNotHoliday')"
                                <label class="form-check-label" for="scheduleEnableNotHoliday">
                                    Enable Not Holiday
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table table-hover">
                        <thead class="table-light">
                        <tr>
                            <th>
                                Restaurant
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                People Limit
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                        </thead>
                        <tbody id="tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <script>
            const publicUrl = '<%- publicUrl %>';
            const alertId = <%- result.id %>;
            let result = <%- JSON.stringify(result) %>;
            let restaurantList = []
        </script>
        <script src="<%- publicUrl %>/public/config-alert-page/script.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
                crossorigin="anonymous"></script>
    </body>
</html>
